
                  <!-- Bounce Rate -->
                  <div class="card card-default">
                    <div class="card-header">
                      <h2>Bounce Rate</h2>
                    </div>
                    <div class="card-body">
                      <div class="bg-danger d-flex justify-content-between flex-wrap p-5 text-white align-items-lg-end">
                        <div class="d-flex flex-column">
                          <span class="h3 text-white">67.0%</span>
                          <span>vs 65.21% (prev)</span>
                        </div>
                        <div>
                          <span>7%</span>
                          <i class="mdi mdi-arrow-down-bold"></i>
                        </div>
                      </div>
                      <div id="line-chart-3"></div>
                    </div>
                  </div>
