
                    <!-- Revenue -->
                    <div class="card card-default">
                      <div class="card-header justify-content-center">
                        <h2>Progress Donut Chart</h2>
                      </div>
                      <div class="card-body pt-0">
                        <div class="chart-wrapper">
                          <div id="radial-bar-chart-1"></div>
                        </div>
                        <div class="radial-bar-chart-footer">
                          <div class="title-large">$25,350 <i class="mdi mdi-arrow-up text-success"></i></div>
                          <div class="title-small">vs $12,600 (prev)</div>
                        </div>
                      </div>
                    </div>
