
                        <!-- Session -->
                        <div class="card card-default">
                          <div class="card-header">
                            <h2>Sessions</h2>
                          </div>
                          <div class="card-body">
                            <div class="bg-success d-flex justify-content-between flex-wrap p-5 text-white align-items-lg-end">
                              <div class="d-flex flex-column">
                                <span class="h3 text-white">7,833</span>
                                <span>vs 7,012 (prev)</span>
                              </div>
                              <div>
                                <span>55%</span>
                                <i class="mdi mdi-arrow-up-bold"></i>
                              </div>
                            </div>
                            <div id="line-chart-2"></div>
                          </div>
                        </div>
