
                    <!-- Us Vector Map -->
                    <div class="card card-default">
                      <div class="card-header">
                        <h2>User Map</h2>
                      </div>
                      <div class="card-body">
                        <div id="us-vector-map-marker"></div>
                        <ul class="list-unstyled mt-4">
                          <li class="d-flex flex-wrap justify-content-between border-top py-2 text-dark">
                            Oregon
                            <span class="text-primary">35</span>
                          </li>
                          <li class="d-flex flex-wrap justify-content-between border-top py-2 text-dark">
                            Indiana
                            <span class="text-success">10</span>
                          </li>
                          <li class="d-flex flex-wrap justify-content-between border-top py-2 text-dark">
                            Colorado
                            <span class="text-danger">25</span>
                          </li>
                        </ul>
                      </div>
                    </div>
