
                    <!-- User Acquisition Statistics -->
                    <div class="card card-default" id="user-acquisition">
                      <div class="card-header border-bottom pb-0">
                        <h2>User Acquisition</h2>
                        <ul class="nav nav-underline-active-primary" role="tablist">
                          <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#traffic-channel" role="tab" aria-selected="true">Traffic
                              Channel</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#source-medium" role="tab" aria-selected="false">Source / Medium </a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#referrals" role="tab" aria-selected="false">Referrals</a>
                          </li>
                        </ul>
                      </div>

                      <div class="tab-content" id="myTabContent">
                        <div id="barchartlg1"></div>
                      </div>
                      <div class="card-footer d-flex flex-wrap bg-white">
                        <a href="#" class="text-uppercase py-3">Acquisition Report</a>
                      </div>
                    </div>
