
                        <!-- User -->
                        <div class="card card-default">
                          <div class="card-header">
                            <h2>Users</h2>
                          </div>
                          <div class="card-body">
                            <div class="bg-primary d-flex justify-content-between flex-wrap p-5 text-white align-items-lg-end">
                              <div class="d-flex flex-column">
                                <span class="h3 text-white">325,980</span>
                                <span>vs 275,900 (prev)</span>
                              </div>
                              <div>
                                <span>45%</span>
                                <i class="mdi mdi-arrow-up-bold"></i>
                              </div>
                            </div>
                            <div id="line-chart-1"></div>
                          </div>
                        </div>
